.hn-news-message {
  display: block;
  text-align: center;
  padding: 2rem;
  margin: 0.5em 0.125rem;
  background: linear-gradient(178deg, #eee 0, #fff 100%);
  border: solid 1px #eee;
  border-radius: 4px;
}
.hn-news-message.hn-news-message-empty {
}
.hn-news-message.hn-news-message-error {
}
.hn-news-message.hn-news-message-loading {
  background: linear-gradient(178deg, #ffc 0, #fff 100%);
  border: solid 1px #fea;
}
.hn-news-message.hn-news-message-info {
  background: linear-gradient(178deg, #e6f6ff 0, #fff 50%);
}
