.hn-news {
  margin: 0;
}

.hn-news-content {
  --hn-news-gap: 1rem;
  display: grid;
  gap: var(--hn-news-gap) var(--hn-news-gap);
  grid-template-columns: auto;
  padding: var(--hn-news-gap) 0;
}

.hn-news-footer {
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
  .hn-news-content {
    --hn-news-gap: 2rem;
    --hn-news-column-size: calc(50% - calc(var(--hn-news-gap) / 2));
    grid-template-columns: var(--hn-news-column-size) var(--hn-news-column-size);
  }
}

@media screen and (min-width: 1024px) {
  .hn-news-content {
    margin: 0 0 1rem;
  }
}

@media screen and (min-width: 1921px) {
  .hn-news {
    padding: inherit;
  }
  .hn-news-content {
    --hn-news-column-size: calc(33.3% - calc(var(--hn-news-gap) / 3));
    grid-template-columns: var(--hn-news-column-size) var(--hn-news-column-size) var(--hn-news-column-size);
  }
}
